
#body-mount-point{
  width: 99vw;
  height: 100vh;

}


.wallet-scene{
  width: 99vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;


}

.slide-one-info, .photo-container {
  width: 50%;
  height: 100%;
}

.testing-two{
   width: 99vw;
   height: 100vh;
   background-color: #ffb701;
}

.testing-three{
   width: 99vw;
   height: 100vh;
   background-color: #2295f2;
}

