

.animated{
  animation-fill-mode: both;
  font-family: Avenir Light;

}

.fadeInDown{
  animation: fadeInDown 2s ;

}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } 
}

#section2{
  background-color: #1976d3;
}


.container-centered {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  display: inline;
  transform: translateY(-50%); 
}

.text-right{
  text-align: left;
}
.section {
  height: 609px;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  padding: 15px; 

}

.section .inner {
    max-width: 450px;
    padding-right: 360px; 
}
.section .inner p {
  margin: 10px 0 30px 0;
  letter-spacing: 0.5px;
  line-height: 27px; 
}
  

.second-fullpage {
  width: 400px;
  height: 646px;
  position: fixed;
  bottom: -80px;
  top: 100% !important;
  left: 450px;
  right: 0;
  opacity: 0;
  margin: auto;
  overflow: hidden;
  z-index: -9;
  transition: all 0.4s ease-in-out;
}

.second-fullpage .section {
    padding: 0; 
}

.second-fullpage.show {
  top: 0px !important;
  opacity: 1;
  z-index: 9; }

.second-fullpage.inscren {
  height: 422px;
  
  display: block;
  top: 0;
  bottom: 0px;
  right: -200px;
}
.second-fullpage.inscren .section {
    padding: 0; 
}



.content-title{
  color: #ffb701;
  font-size: 3vw;
}
.content{
  font-size: 1.5vw;
}

.content.wallet{
  color: #ffffff;
}

#mit{
  color: #ffffff;
}












