
#body-mount-point{
  width: 99vw;
  height: 100vh;

}
 



.wallet-info, .photo-container , .map-info ,.send-scene {
  width: 50vw;
  height: 100vh;
}








.content-container{
 
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 100px;
  
}

.content-title{
  color: #ffb701;
  font-size: 6vw;
}
.content{
  font-size: 2vw;
}

@media(max-width: 500px){
  content-container{
    width: 500vw;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 200px;
  }
}








