
	#section0{
		background-image: url('http://d1wbxby8dwa4u.cloudfront.net/namecheap/setcoinsBackground.png') ;
		background-size: 100%;
		padding: 0;
		position: relative;
		overflow: hidden; 
	}
	#landing-page{
		font-family: Avenir Light;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.economy-button{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.root-container{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		height: 800px;
		width: 2000px;
		margin-top: 10px;
		margin-top: 80px;
		
	}
	.economy-container{
		width: 2000px;
		height: 900px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-around;
		
	}
	.can-you-feel-it{
		width: 1300px;
		height: 400px;
		color: #dadfe1;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	#feel-the-new-economy{
		font-size: 4vw;
	}
	.free-btc{
		margin-top: 10px;
		p{
			font-size: 2.5vw;
			margin-bottom: 30px;
		}
	}
	
	#video{
		width: 800px;
		height: 450px; 
	}
	.buttons-container{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	.app-icons{
		color: white;
		font-size: 6vw;
	}
	.app-icons:hover{
		color: #ffb701;
	}
	.app-container{
		
		width: 500px;
		display: flex;
		align-items: center;
		justify-content: space-around;

	}
	.app-icons.clickable {
    	cursor: pointer;
	}
	

	











