
	#landing-page{
		font-family: Avenir Light;
		background-image: url('http://d1wbxby8dwa4u.cloudfront.net/namecheap/setcoinsBackground.png') ;
		background-size: 100%;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.economy-button{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		
		

	}
	.root-container{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		height: 500px;
		width: 1000px;
		margin-top: 10px;
		
	}

	.economy-container{
		width: 1000px;
		height: 300px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-around;
		
	}

	.can-you-feel-it{
		width: 500px;
		height: 200px;
		color: #dadfe1;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	#feel-the-new-economy{
		font-size: 3vw;
	}
	.free-btc{
		margin-top: 10px;
		p{
			font-size: 1.7vw;
		}
	}
	.video-container{

	}
	#video{
		width: 400px;
		height: 250px; 
	}

	@media(max-device-width: 1100px){
		.root-container{
			width:900px;
		}
	}
	@media(max-device-width:900px ){
		.root-container{
			width: 600px;
			height: 600px;
			justify-content: center;
			align-items: center;

		}
		.economy-container{
			flex-direction: column;
			justify-content: flex-start;
			width: 600px;
			height: 400px;
			align-items: center;
		}
		.can-you-feel-it{
			justify-content: center;
			align-items: center;
		}
		#feel-the-new-economy{
			font-size: 7vw;
		}	
	}


	@media(max-device-width: 500px){
	

		.root-container{
			width: 300px;
			height: 300px;
			margin: 0;
			justify-content: flex-start;
		}
		#feel-the-new-economy{
		font-size: 8vw;
		}
		.free-btc{
			margin-top: 10px;
			p{
				font-size: 4vw;
			}
		}
	}


	@media(max-device-width: 400px){
		.root-container{
			width: 300px;
			height: 400px;

		}
		#video{
			height: 100px;
			width: 200px;
		}
		.button-container{
			margin-top: 0;
		}
		.economy-container{
			
			height: 300px;
			
		}
	}











