//Landing Header CSS
	.header{
		width: 100%;
		padding-top: 2%;
		color: #dadfe1;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	#setcoins-landing-header{
		margin-left: 14%;
		font-size: 3vw;
	}
	#setmine-logo{
		height: auto;
		width: 2.5vw;
		margin: 0;
		color: #dadfe1 ;
	}
	.header-2{
		width: 10vw;
		margin-left: 2%;
		align-items: center;
	}
	#btc-value{
		margin-right: 2%;
		font-size: 2vw;
	}
	


@media(max-width: 500px){
	#setcoins-landing-header{
		font-size: 8vw;
	}
	#btc-value{
		
		font-size: 5vw;
	}
}
//End of landing Header CSS