

// #iphone{
// 	width: 99vw;
//   	height: 100vh;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	z-index:1;
// 	position: fixed;
// 	overflow: hidden;
	
	
// }
.box-phone{
	margin-left: 85px;
	margin-top: 32px;
}
.iphone{
	width: 271px;
	height: 520px;
}






@media(max-width: 850px){
	.iphone-container{		
		width: 500px;
	}
}

@media(max-width: 500px){
	.iphone-container{
		justify-content: center;


	}
	.iphone{
		margin-top: 600px;
		margin-right: 80px;
	}
}





