////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
		/*MEDIA QUIERES FOR SCREENSHOTS AND FEATURES SLIDES.LESS */
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
	@media(max-width: 2000px){
		.section{
			height: 800px;
		}
		.section .inner{
			max-width: 550px;
		}
	}
	@media(max-width: 1440px){
		.section{
			height: 609px;
		}
		.section .inner{
			max-width: 450px;
		}

	}
	@media(max-width: 500px){
	  	content-container{
	    width: 500vw;
	    justify-content: flex-start;
	    align-items: flex-start;
	    margin-bottom: 200px;
	  }
	}
	@media(max-width: 400px){
	    .content-container{
	      margin: 0;
	    }
	  }
    @media only screen and (max-width : 895px) {
	    .box-phone img {
	    	margin-left: -21px;
	    }
	    .second-fullpage.show {
	    	top: 70% !important;
	    	transform: scale(0.85);
	    }
	    .second-fullpage {
	      transform: scale(0.85);
	      -webkit-transform: scale(0.85);
	    }
	    .second-fullpage.inscren {
	    	width: 100%;
	        text-align: center;
	        right: 0;
	        margin-right: 1px;
	        height: 409px;
	    }

	    .second-fullpage {
	        left: 0;
	        right: 0;
	    }


	    .section .cover h2 {
	     	font-size: 24px;
	    	letter-spacing: 1px;
	    	line-height: 28px;
	    	margin-left: 45px;
	    	margin-right: 45px;
	    }

	    #section0 .container-centered {
	      top: 50%;
	    }

	    
	    .text-right {
	      text-align: center;
	    }
	    .section .inner p {
	    	margin-left: 20px;
	    	margin-right: 20px;
	    }
	    .container-centered {
	    	top: 33%;
	    }
	    .section .inner{
	    	padding: 0;
	    }
	}


@media only screen and (max-width: 425px) {
    .content-title {
        font-size: 7vw;
    }
    .box-phone{
    	margin: 0;
    }
    .box-phone img {
        margin:auto;
        margin-top: 30px;

    }
    .second-fullpage.show {
    	top: 75% !important;
    	transform: scale(0.7);
    }
    .second-fullpage {
        text-align: center;
        margin: auto;
        width: 100%;
        transform: scale(0.7);
        
    }
    .second-fullpage.inscren {
    	height: 415px;
    }
    .wrapper-scren {
    	margin-left: 3px;
    }
    h2 {
          font-size: 20px;
        }
        .section .inner p {
          font-size: 16px;
        }
    }
    @media only screen and (max-width: 355px) {
	    .section .inner p {
	      margin-bottom: 10px;
	    }
	    .second-fullpage.show {
	      top: 90% !important;
	    }
    }
  @media only screen and (max-height: 820px) and (max-width: 1023px) {
   
    .second-fullpage.show {
      transform: scale(1);
    }
    .second-fullpage {
      transform: scale(1);
    }
    .second-fullpage.inscren {
      height: 424px;
    }
}

@media only screen and (max-height: 690px) and (max-width: 1023px) {
    .container-centered {
      top: 25%;
    }
}

@media only screen and (max-height: 640px) and (max-width: 1023px) {
	.second-fullpage.show {
	  transform: scale(0.9);
	}
	.second-fullpage {
	  transform: scale(0.9);
	}
	.second-fullpage.inscren {
	  height: 411px;
	}
}
@media only screen and (max-height: 550px) and (max-width: 1023px) {
    .second-fullpage.show {
      transform: scale(0.8);
    }
    .second-fullpage {
      transform: scale(0.8);
    }
    .second-fullpage.inscren {
      height: 400px;
    }
}
@media only screen and (max-height: 500px) and (max-width: 1023px) {
    .second-fullpage.show {
      top: 95% !important;
    }
    .container-centered {
      top: 30%;
    }
}
@media only screen and (max-height: 400px) and (max-width: 1023px) {
    .second-fullpage.show {
      display: none;
    }
    .container-centered, #section0 .container-centered {
      top: 40%;
    }
    
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
		/*MEDIA QUIERES FOR LANDINGPAGE.LESS */
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@media(max-width: 2000px){
	.root-container{

		height: 600px;
		width: 1400px;
		margin-top: 80px;
	}
	.economy-container{
		width: 1400px;
		height: 500px;
		
	}
	.can-you-feel-it{
		width: 800px;
		height: 300px;
	}
	#video{
		width: 500px;
		height: 300px; 
	}
	.app-container{
		width: 300px;
	}
	#feel-the-new-economy{
		font-size: 3vw;
	}
	.free-btc{
		margin-top: 10px;
		p{
			font-size: 1.7vw;
			margin-bottom: 0px;
		}
	}
	.header-2{
		width: 300px;
	}
	.setcoins-logo{
		width: 50px;
		height: 50px;
	}
	.join-movement{
		width: 350px;
		height: 120px;
	}
	.section{
		height: 609px;
	}
	.section .iner{
		max-width: 450px;
	}
}

@media(max-width: 1440px){
	.root-container{
		height: 500px;
		width: 1000px;
		margin-top: 0;
		
	}
	.economy-container{
		width: 1000px;
		height: 300px;
	}
	.can-you-feel-it{
		width: 500px;
		height: 200px;
	}
	#video{
		width: 400px;
		height: 250px; 
	}
	.app-container{
		width: 300px;
	}
	#feel-the-new-economy{
		font-size: 3vw;
	}
	.free-btc{
		margin-top: 10px;
		p{
			font-size: 1.7vw;
			margin-bottom: 0px;
		}
	}
	.header-2{
		width: 240px;
	}
	.setcoins-logo{
		width: 50px;
		height: 50px;
	}
	.join-movement{
		width: 300px;
		height: 90px;
	}
	.section{
		height: 609px;
	}
	.section .iner{
		max-width: 450px;
	}
}
@media(max-device-width: 1100px){
	.root-container{
		width:900px;
		
	}
	.can-you-feel-it{
		width: 400px;
	}
}
@media(max-device-width:900px ){
	
	.root-container{
		width: 600px;
		height: 600px;
		justify-content: center;
		align-items: center;
		

	}
	.economy-container{
		flex-direction: column;
		justify-content: flex-start;
		width: 600px;
		height: 400px;
		align-items: center;
		
	}
	.can-you-feel-it{
		justify-content: center;
		align-items: center;
		width: 500px;
		
	}
	.free-btc{
		text-align: center;
		margin-top: 10px;
		p{
			font-size: 3vw;
		}
	}
	#feel-the-new-economy{
		font-size: 6vw;
	}
	#video{
		width: 300px;
		height: 150px; 
	}	
}
	@media(max-width: 500px){
		#setcoins-landing-header{
			font-size: 8vw;
		}
		#btc-value{
			
			font-size: 5vw;
		}
	}


	@media(max-device-width: 500px){
	

		.root-container{
			width: 300px;
			height: 500px;
			margin: 0;
			justify-content: flex-start;
		}
		#feel-the-new-economy{
		font-size: 8vw;
		}
		.free-btc{
			margin-top: 10px;
			p{
				font-size: 4vw;
			}
		}
	}


	@media(max-device-width: 400px){
		.root-container{
			width: 300px;
			height: 500px;
			margin: 0;

		}
		.economy-button{
			margin-top:35px;
		}
		#video{
			height: 150px;
			width: 200px;
			margin-bottom: 40px;
		}
		.buttons-container{
			margin-top: 0;
			flex-direction: column;
			height: 150px;
		}
		.economy-container{
			
			height: 300px;
			
		}
		.can-you-feel-it{
			margin-bottom: 10px;
		}
		.header-2{
			width: 170px;
		}

	}

////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
		/*MEDIA QUIERES FOR JOINMOVEMENT.LESS */
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@media only screen and (max-width: 500px) {
 	.button-container{
 		
		display: flex;
		flex-direction: row;
		justify-content: center;	
	}
	.join-movement{
		margin-right: 0;
		width: 150px;
		height: 70px;	
		font-size: 2.7vw;
		margin-left: 0;
		.fa-facebook{
			color: white;
			font-size: 6vw;
		}
		p{
			color: white;
			font-size: 4vw;
		}
	}
	.app-icons{
		font-size: 20vw;
	}		
 } 

@media only screen and (max-width: 400px){
	.buttons-container{
      flex-direction: column; 
    }
    .join-movement{
		height: 60px;
		font-size: 3.5vw;
		.fa-facebook{
			color: white;
			font-size: 10vw;
		}
		p{
			color: white;
			font-size: 3.7vw;
		}
	}
}


