

.fullpage-wrapper{
	height: 100%; 
	position: relative; 
	touch-action: none; 
	transform: translate3d(0px, -609px, 0px); 
	transition: all 800ms ease;

}

.wrapper-scren img {
	max-width: 240px;
    max-height: 423px;
}


.shots{
	height: 609px;
}
.screen-shots{
	margin-top: 40px;
	width: 240px;
	height: 422px;
}



// .photo-container{
// 	display: flex;
// 	flex-direction: row;
// 	align-items: center;
// 	justify-content: flex-end;
// 	overflow: hidden;
	
	
// }

// .send-btc{
// 	display: inline;
// }

// .btc-wallet{
// 	display: inline;
// }


// @media(max-width: 500px){
// 	.photo-container{
// 		width: 240px;
// 		height: 300px;

// 	}
// 	.screen-shot{
// 		margin-top: 235px;
// 	}
// }