

.fullpage-wrapper{
	height: 100%; 
	position: relative; 
	touch-action: none; 
	transform: translate3d(0px, -609px, 0px); 
	transition: all 800ms ease;


}

.setcoins-photo{
	width: 240px;
	height: 422px;
	
}

.wrapper-scren img {
	max-width: 240px;
    max-height: 423px;
}


.shots{
	height: 609px;
}
.screen-shots{
	margin-top: 40px;
	width: 240px;
	height: 422px;
}

#shot-1{
	margin-top: 10px;
	display: none;
}
#shot-2{
	margin-top: 10px;
	display: none;
}

#shot-3{
	margin-top: 10px;
	display: none;
}

