

.send-scene{
  background-color: #ffffff;
  width: 99vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.send-info{
	width: 900px;	
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-end;
}
