

.map-scene{
   width: 99vw;
  height: 100vh;
   background-color: #ffffff;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;


}

.map-info{
  width: 900px;	
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  
}